.hidden {
  display: none;
}

img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0; */
  /* filter: blur(1px); */
}

body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 500;
  font-size: large;
}

html {
  background: #333333;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=auto");
@import "main.css";
@import "clock.css";
@import "weather.css";
@import "todo.css";
