#do-section {
  border: 5px solid darkgreen;
}

#schedule-section {
  border: 5px solid darkblue;
}

#delegate-section {
  border: 5px solid darkred;
}

#delete-section {
  border: 5px solid black;
}

.matrix-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
}

.cell-title {
  text-align: center;
}
